body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

h1, h3 {
    color: #333;
    text-align: center;
}

form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label {
    display: flex;
    align-items: center;  /* This ensures vertical center alignment of the checkbox and text */
    margin: 5px;  /* Spacing between each label */
}

input[type="checkbox"] {
    margin-right: 5px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#schedule {
    margin-top: 20px;
    padding: 10px;
    background: white;
    border-radius: 5px;
}
